.add-component {
    margin-left: 50%;
    transform: translateX(-50%) ;
    width: 120px;
}

.add-component > i {
    border    : 1px solid gray;
    color     : black;
    font-size : 50px;
    left      : 0px;
    margin    : 20px 5px;
    position  : relative;
    width     : 100px;
    transition: background-color 500ms;
}

.add-component > i:hover {
    background-color: black;
    color           : yellow;
    cursor          : pointer;
}

.tooltiptext {
    background-color: black;
    border-radius   : 5px;
    color           : white;
    font-size       : 12px;
    margin-top      : 20px;
    padding         : 10px;
    position        : absolute;
    transition-delay: 0s;
    visibility      : hidden;
    width           : 200px;
}

.tootiped-component:hover > .tooltiptext {
    transition-delay: 500ms;
    visibility      : visible;
    z-index         : 1;
}