body {
    font-family     : 'M PLUS 1p', 'Courgette', cursive;
}

/* Menu do logo. */
.top-bar {
    background-color: black             ;
    box-shadow      : 5px 0px 10px 3px gray;
    font-size       : 50px                ;
    height          : 80px                ;
    padding-left    : 100px               ;
    position        : fixed               ;
    width           : 100%                ;
    z-index         : 1                   ;
}

.top-bar label {
    color          : yellow;
    text-decoration: none;
    cursor         : pointer;
}

.top-bar .hr {
    background-color: yellow;
    height          : 3px;
    left            : 0px;
    position        : absolute;
    top             : 70px;
    width           : 100%;
    z-index         : 10;
}

/* Menu a esquerda. */
.left-menu {
    background-color: white;
    height          : 100%   ;
    left            : -180px ;
    padding-left    : 20px   ;
    padding-right   : 20px   ;
    padding-top     : 100px  ;
    position        : fixed  ;
    right           : 200px  ;
    width           : 200px  ;
    box-shadow: 3px 0px 10px 0px gray;
    transition: left 200ms;
}

.left-menu:hover {
    left: 0px;
}

/* Local do avatar. */
.avatar {
    background-color:yellow;
    border-radius: 50%;
    height          : 150px  ;
    width          : 150px  ;
    padding         : 2px   ;
    border: 5px solid black;
}

/* Item default do avatar. */
.avatar > img {
    color    : yellow             ;
    font-size: 60px                 ;
    left     : 50%                  ;
    position : relative             ;
    top      : 50%                  ;
    width: 100%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

/* Item do menu. */
.menu-item {
    border       : 1px solid black    ;
    bottom       : 0                  ;
    color        : black              ;
    margin-bottom: 3px                ;
    margin-top   : 3px                ;
    padding      : 1px                ;
    transition   : border 500ms linear;
    width        : 100%               ;

}

/* Ícone do menu. */
.menu-item > i {
    transform : translateY(20%)   ;
    transition: color 500ms linear;
}

/* Destacar o ícone quando o mause estiver sobre o menu. */
.menu-item:hover > i {
    color: yellow;
}

/* Quando o mause está sobre os itens do menu. */
.menu-item:hover {
    border          : 1px solid rgb(158, 112, 26);
    background-color: black                      ;
    color           : yellow                     ;
    cursor          : pointer                    ;
}

/* Onde os dados são renderizados. */
.viewport {
    left         : 20px    ;
    margin-bottom: 300px   ;
    position     : absolute;
    right        : 0px     ;
    text-align   : center  ;
    top          : 80px    ;
    z-index      : -10     ;
}

.text-black {
    color: black;
}

.card {
    border-radius: 0px;
    color        : black;
}

.header {
    background-color: black;
    font-size       : 30px;
    margin-bottom   : 40px;
    margin-top      : 10px solid black;
    padding-top     : 20px;
    position        : fixed;
    text-align      : center;
    width           : 100%;
    box-shadow      : 5px 5px 15px 15px gray;
}

.header .item {
    display   : inline;
    left      : 50%;
    text-align: center;
}

.header .item a {
    border         : 1px solid transparent;
    color          : yellow;
    text-decoration: none;
}

.header .item + .login a {
    border-top     : 3px solid transparent;
    color          : blue;
    text-decoration: none;
}

.header .item a:hover {
    border-top: 1px solid yellow;
}

.header .item+.login a:hover {
    border-top: 3px solid blue;
}

.content .topic {
    padding-top: 100px;
    margin-top : 100px;
}

.gap {
    padding: 30px;
}

.footer {
    padding: 300px;
}