body {
    font-family     : 'M PLUS 1p', 'Courgette', cursive;
}

/* Menu do logo. */
.top-bar {
    background-color: black             ;
    font-family     : 'M PLUS 1p', 'Courgette', cursive;
    font-size       : 50px                ;
    height          : 80px                ;
    padding-left    : 100px               ;
    position        : fixed               ;
    width           : 100%                ;
    z-index         : 1                   ;
    border-bottom   : 1px solid yellow  ;
}

.top-bar label {
    color          : yellow;
    text-decoration: none;
    cursor         : pointer;
}

/* Menu a esquerda. */
.left-menu {
    background-color: white;
    height          : 100%   ;
    left            : -180px ;
    padding-left    : 20px   ;
    padding-right   : 20px   ;
    padding-top     : 100px  ;
    position        : fixed  ;
    right           : 200px  ;
    width           : 200px  ;
    box-shadow: 3px 0px 10px 0px gray;
    transition: left 200ms;
}

.left-menu:hover {
    left: 0px;
}

/* Local do avatar. */
.avatar {
    background-color:black;
    height          : 200px  ;
    padding         : 20px   ;
}

/* Item default do avatar. */
.avatar > i {
    color    : yellow              ;
    font-size: 60px                 ;
    left     : 50%                  ;
    position : relative             ;
    top      : 50%                  ;
    transform: translate(-50%, -50%);
}

/* Item do menu. */
.menu-item {
    border       : 1px solid black  ;
    color        : black              ;
    padding      : 1px               ;
    transition   : border 500ms linear;
    width        : 100%               ;
    margin-top:3px;
    margin-bottom:3px;

}

/* Ícone do menu. */
.menu-item > i {
    transform : translateY(20%)   ;
    transition: color 500ms linear;
}

/* Destacar o ícone quando o mause estiver sobre o menu. */
.menu-item:hover > i {
    color: yellow;
}

/* Quando o mause está sobre os itens do menu. */
.menu-item:hover {
    border          : 1px solid rgb(158, 112, 26);
    background-color: black                    ;
    color           : yellow                     ;
    cursor          : pointer                    ;
}

/* Onde os dados são renderizados. */
.viewport {
    position  : absolute;
    left      : 20px   ;
    top       : 80px    ;
    right     : 0px     ;
    text-align: center  ;
    margin-bottom: 300px;
    z-index: -10;
}

.text-black {
    color: black;
}

.card {
    border-radius: 0px;
    color: black;
}